### pandas 기초 
- 데이터 처리 라이브러리

#### pandas 설치 
```shell
%pip install pandas
```

#### PyArrow 설치
- pandas에 새로 추가된 라이브러리
```shell
%pip install pyarrow
```

In [1]:
%pip install pandas

Requirement already satisfied: pandas in c:\dev\langs\python311\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\dev\langs\python311\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\dev\langs\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\dev\langs\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
%pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-17.0.0-cp311-cp311-win_amd64.whl.metadata (3.4 kB)
Requirement already satisfied: numpy>=1.16.6 in c:\dev\langs\python311\lib\site-packages (from pyarrow) (1.26.3)
Downloading pyarrow-17.0.0-cp311-cp311-win_amd64.whl (25.2 MB)
   ---------------------------------------- 0.0/25.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/25.2 MB ? eta -:--:--
   ---------------------------------------- 0.1/25.2 MB 1.1 MB/s eta 0:00:24
    --------------------------------------- 0.3/25.2 MB 3.4 MB/s eta 0:00:08
   - -------------------------------------- 0.7/25.2 MB 5.1 MB/s eta 0:00:05
   - -------------------------------------- 1.2/25.2 MB 6.3 MB/s eta 0:00:04
   -- ------------------------------------- 1.6/25.2 MB 7.3 MB/s eta 0:00:04
   --- ------------------------------------ 2.1/25.2 MB 8.0 MB/s eta 0:00:03
   ---- ----------------------------------- 2.7/25.2 MB 8.5 MB/s eta 0:00:03
   ---- ----------------------------------- 3.1/25.2 MB 8.7 MB/s eta 0:00:03
   ----- ---------------------------------- 3.7/25.2 MB 9.2 MB/s eta 0:00:03
   ------ --------------------------------- 4.2/25.2 MB 9.3 MB/s eta 0:00:03
   ------- -------------------------------- 4.7/25.2 MB 9.5 MB/s eta 0:00:03
   -------- ------------------------------- 5.3/25.2 MB 9.6 MB/s eta 0:00:03
   --------- ------------------------------ 5.8/25.2 MB 9.8 MB/s eta 0:00:02
   ---------- ----------------------------- 6.4/25.2 MB 9.9 MB/s eta 0:00:02
   ---------- ----------------------------- 6.9/25.2 MB 10.0 MB/s eta 0:00:02
   ----------- ---------------------------- 7.4/25.2 MB 10.0 MB/s eta 0:00:02
   ------------ --------------------------- 7.8/25.2 MB 10.0 MB/s eta 0:00:02
   ------------ --------------------------- 8.0/25.2 MB 9.9 MB/s eta 0:00:02
   ------------- -------------------------- 8.5/25.2 MB 9.7 MB/s eta 0:00:02
   -------------- ------------------------- 8.9/25.2 MB 9.6 MB/s eta 0:00:02
   -------------- ------------------------- 9.3/25.2 MB 9.5 MB/s eta 0:00:02
   --------------- ------------------------ 9.8/25.2 MB 9.6 MB/s eta 0:00:02
   ---------------- ----------------------- 10.3/25.2 MB 10.2 MB/s eta 0:00:02
   ----------------- ---------------------- 10.9/25.2 MB 10.4 MB/s eta 0:00:02
   ------------------ --------------------- 11.3/25.2 MB 10.6 MB/s eta 0:00:02
   ------------------ --------------------- 11.9/25.2 MB 10.4 MB/s eta 0:00:02
   ------------------- -------------------- 12.4/25.2 MB 10.6 MB/s eta 0:00:02
   -------------------- ------------------- 13.0/25.2 MB 10.6 MB/s eta 0:00:02
   --------------------- ------------------ 13.5/25.2 MB 10.6 MB/s eta 0:00:02
   ---------------------- ----------------- 14.1/25.2 MB 10.6 MB/s eta 0:00:02
   ----------------------- ---------------- 14.6/25.2 MB 10.6 MB/s eta 0:00:01
   ------------------------ --------------- 15.2/25.2 MB 10.7 MB/s eta 0:00:01
   ------------------------- -------------- 15.7/25.2 MB 10.7 MB/s eta 0:00:01
   ------------------------- -------------- 16.3/25.2 MB 10.7 MB/s eta 0:00:01
   -------------------------- ------------- 16.8/25.2 MB 10.7 MB/s eta 0:00:01
   --------------------------- ------------ 17.4/25.2 MB 10.7 MB/s eta 0:00:01
   ---------------------------- ----------- 18.0/25.2 MB 10.9 MB/s eta 0:00:01
   ----------------------------- ---------- 18.5/25.2 MB 11.3 MB/s eta 0:00:01
   ------------------------------ --------- 19.1/25.2 MB 11.5 MB/s eta 0:00:01
   ------------------------------- -------- 19.5/25.2 MB 11.7 MB/s eta 0:00:01
   ------------------------------- -------- 20.0/25.2 MB 11.7 MB/s eta 0:00:01
   -------------------------------- ------- 20.6/25.2 MB 11.7 MB/s eta 0:00:01
   --------------------------------- ------ 21.0/25.2 MB 11.7 MB/s eta 0:00:01
   --------------------------------- ------ 21.0/25.2 MB 11.7 MB/s eta 0:00:01
   --------------------------------- ------ 21.0/25.2 MB 11.7 MB/s eta 0:00:01
   --------------------------------- ------ 21.1/25.2 MB 10.1 MB/s eta 0:00:01
   ---------------------------------- ----- 21.6/25.2 MB 9.9 MB/s eta 0:00:01
   ----------------------------------- ---- 22.2/25.2 MB 9.9 MB/s eta 0:00:01
   ------------------------------------ --- 22.8/25.2 MB 10.1 MB/s eta 0:00:01
   ------------------------------------ --- 23.1/25.2 MB 9.9 MB/s eta 0:00:01
   ------------------------------------ --- 23.1/25.2 MB 9.9 MB/s eta 0:00:01
   ------------------------------------- -- 23.6/25.2 MB 9.4 MB/s eta 0:00:01
   -------------------------------------- - 24.2/25.2 MB 9.4 MB/s eta 0:00:01
   ---------------------------------------  24.7/25.2 MB 9.4 MB/s eta 0:00:01
   ---------------------------------------  25.1/25.2 MB 9.5 MB/s eta 0:00:01
   ---------------------------------------  25.1/25.2 MB 9.5 MB/s eta 0:00:01
   ---------------------------------------- 25.2/25.2 MB 8.7 MB/s eta 0:00:00
Installing collected packages: pyarrow
Successfully installed pyarrow-17.0.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd

#### pandas 기본
- 시리즈, 데이터 프레임 개념 이해
- 시리즈는 1차원 배열, 프레임은 2차원 배열 
- pandas에서는 데이터프레임이 가장 기본 -> 데이터 처리 도중에 잘라서 시리즈를 사용함 

<img src="https://raw.githubusercontent.com/hugoMGSung/bigdata-analysis-2024/main/images/ba001.png" width="700">

In [15]:
# 데이터프레임 객체 - 2차원 배열
## dictionary로 DataFrame 생성 

origin = {'이름':['hyeily', 'orion', 'nabi'], '나이':[27,22,13], '차량여부' : [False, True, False]}
origin, type(origin)

({'이름': ['hyeily', 'orion', 'nabi'],
  '나이': [27, 22, 13],
  '차량여부': [False, True, False]},
 dict)

In [16]:
## 1. 딕셔너리로 데이터 프레임 생성, 변수명을 보통 df로 사용 
df = pd.DataFrame(data=origin)
df

       이름  나이   차량여부
0  hyeily  27  False
1   orion  22   True
2    nabi  13  False

In [17]:
type(df)
# 출력 = pandas.core.frame.DataFrame 데이터 프레임 타입!

pandas.core.frame.DataFrame

In [18]:
## pytion list로 데이터 프레임 생성 
data = [['hyeily', 27, '부산', False],
        ['orion', 22, '서울', True],
        ['nabi', 22, '울산', False],
        ['sora', 22, '통영', False]]

df2 = pd.DataFrame(data=data)
df2

        0   1   2      3
0  hyeily  27  부산  False
1   orion  22  서울   True
2    nabi  22  울산  False
3    sora  22  통영  False

In [19]:
## 리스트로 df를 만들면 컬럼 제목이 없기 때문에 추가 해줘야 함 
df2 = pd.DataFrame(data=data, columns=['이름', '나이','주소', '차량여부'])
df2

       이름  나이  주소   차량여부
0  hyeily  27  부산  False
1   orion  22  서울   True
2    nabi  22  울산  False
3    sora  22  통영  False

In [20]:
## 시리즈 생성
sr1 = pd.Series([1,2,3,4])
sr1

0    1
1    2
2    3
3    4
dtype: int64

In [21]:
## 시리즈 타입 확인
type(sr1)

pandas.core.series.Series

In [24]:
df2['이름']

0    hyeily
1     orion
2      nabi
3      sora
Name: 이름, dtype: object

In [23]:
type(df2['이름'])

pandas.core.series.Series

In [25]:
## df에서 두개의 열을 인덱싱
df2[['이름', '나이']]

       이름  나이
0  hyeily  27
1   orion  22
2    nabi  22
3    sora  22

- 판다스 자료형
    - Boolen 
    - Int8 ~ 64
    - Uint8 ~ 64
    - Float32, Float64
    - DateTime
    - Object
    - Categorical

- DataFrame 조작하는 방법은 빅데이터 분석할 때 실습으로 대체!!

##### 데이터프레임 사용하기(CSV, Excel...)
- 엑셀 라이브러리 필요! => openpyxl 설치 
```shell
%pip install openpyxl
```

In [26]:
%pip install openpyxl

Note: you may need to restart the kernel to use updated packages.Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   -------------- ------------------------- 92.2/250.9 kB 1.7 MB/s eta 0:00:01
   ---------------------------------------- 250.9/250.9 kB 3.1 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [29]:
# csv 파일을 읽어오기 
# csv 파일 열면 Rainbow CSV 확장 설치하기

df_csv = pd.read_csv('./data/sample_1.csv')
df_csv

  2019년 11월 입국객 수 Unnamed: 1 Unnamed: 2 Unnamed: 3
0            국적코드         성별       입국객수       전년동기
1             A01         남성     106320      85815
2             A01         여성     191436     125241
3             A31         남성        319        299
4             A31         여성         42         54
5             A18         남성     158912     124486
6             A18         여성     232943     163466
7           총 합계      689972        NaN        NaN
8            전년동기     499361        NaN        NaN

In [33]:
# 헤더 조정 
df_csv = pd.read_csv('./data/sample_1.csv', header=1, skipfooter=2, engine='python', encoding='utf-8')
df_csv

  국적코드  성별    입국객수    전년동기
0  A01  남성  106320   85815
1  A01  여성  191436  125241
2  A31  남성     319     299
3  A31  여성      42      54
4  A18  남성  158912  124486
5  A18  여성  232943  163466

In [34]:
# csv 파일로 저장 
df_csv.to_csv('./data/sample_2.csv')

In [35]:
# excel 파일로 저장
df_csv.to_excel('./data/sample_2.xlsx')

In [39]:
# excel 파일 읽기 (혹시 엑셀글자가 바뀌면 encoding='utf-8', 'euc-kr'로 바꿔서 실행 )
df_excel = pd.read_excel('./data/sample_1.xlsx' , header=1, skipfooter=2)
df_excel

  국적코드  성별    입국객수    전년동기
0  A01  남성  106320   85815
1  A01  여성  191436  125241
2  A31  남성     319     299
3  A31  여성      42      54
4  A18  남성  158912  124486
5  A18  여성  232943  163466

In [42]:
## 데이터포털 빗물이용시설현황 데이터 로드
df_csv_rain =  pd.read_csv('./data/경기도_평택시_빗물이용시설현황_20240730.csv', encoding='euc-kr')
df_csv_rain.head() # head 함수는 상위 5개 출력, tail은 하위 5개 출력 ()안에 숫자쓰면 그 갯수만큼 출력

,시설명,도로명주소,지번주소,위도,경도,저류조 용량,이용용도,데이터기준일자
0,효성해링턴플레이스 2단지,경기도 평택시 소사3로 22,NaN,36.987411,127.129658,1000.0,조경용수,2024-07-30
1,더샵지제역센트럴파크 3블럭,경기도 평택시 동삭1로22번길 40,NaN,37.016099,127.093232,462.0,조경용수,2024-07-30
2,평택힐스테이트 2차,경기도 평택시 세교6로 45,경기도 평택시 세교동 597,37.009950,127.086697,518.0,조경용수,2024-07-30
3,소사벌 효성해링턴코트,경기도 평택시 죽백8길 37,경기도 평택시 죽백동 766,37.006831,127.119152,1300.0,조경용수,2024-07-30
4,비전지웰 테라스하우스,경기도 평택시 용죽6길 64,경기도 평택시 용이동 661,36.996280,127.127966,743.0,조경용수,2024-07-30