### μ¤νƒ€λ²…μ¤ λ§¤μ¥ μ…μ§€ λ¶„μ„
- μμ„ 
    1. λ°μ΄ν„° μμ§‘
    2. λ°μ΄ν„° μ „μ²λ¦¬
    3. λ¶„μ„
    4. μ‹κ°ν™” 

### λ°μ΄ν„° μμ§‘
- μ…€λ λ‹μ›€ μλ™ν™” + λ·°ν‹°ν’€μν”„ μ •μ

In [62]:
# ν•„μ”λΌμ΄λΈλ¬λ¦¬ μ„¤μΉ 
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup

In [98]:
%pip install tqdm

Requirement already satisfied: tqdm in c:\dev\langs\python311\lib\site-packages (4.66.4)
Requirement already satisfied: colorama in c:\users\administrator\appdata\roaming\python\python311\site-packages (from tqdm) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [99]:
# λ¶„μ„, μ‹κ°ν™” λΌμ΄λΈλ¬λ¦¬ μ‚¬μ© 
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
from matplotlib import rcParams, rc, font_manager
import warnings
import seaborn as sns 
import time
from tqdm import tqdm  # λ°λ³µ μ§„ν–‰ ν”„λ΅κ·Έλμ¤λ°” λ¨λ“

In [85]:
# λ§·ν”λ΅―λ¦½ ν•κΈ€ λ° κΈ°νƒ€ μ„¤μ • 
font_path = 'C:/Windows/Fonts/malgun.ttf'
font = font_manager.FontProperties(fname=font_path, size=10).get_name()
# κΈ°λ³Έ ν°νΈ μ„¤μ •
plt.rcParams['font.family']= font
# κΈ°λ³Έν°νΈ μ‚¬μ΄μ¦ μ„¤μ • 
plt.rcParams['font.size'] = 14
# κΈ°λ³Έμ°¨νΈ μ‚¬μ΄μ¦ λ³€κ²½
plt.rcParams['figure.figsize'] = (8, 6)
# κΈ°λ³Έ κ·Έλ¦¬λ“ ν‘μ‹
plt.rcParams['axes.grid'] = True
# ν•κΈ€ν™” ν›„ - ν‘μ‹κ°€ λ„¤λ¨λ΅ λ‚μ¤λ” ν„μƒ μμ • 
plt.rcParams['axes.unicode_minus'] = False

# warning ν‘μ‹ λ„κΈ°
warnings.simplefilter('ignore') # κ²½κ³ λ©”μ„Έμ§€ λ¬΄μ‹ 

# μ‹λ³Έ μ„¤μ • 
sns.set_theme(font=font, rc={'axes.unicode_minus':False}, style='white')

### μ…€λ λ‹μ›€ μ‚¬μ©

In [65]:
# μ›Ήλ“λΌμ΄λ²„ 
driver = webdriver.Chrome()

In [66]:
# μ¤νƒ€λ²…μ¤ μ½”λ¦¬μ•„ μ‚¬μ΄νΈ μ—°κ²° 
url = 'https://www.starbucks.co.kr/store/store_map.do?disp=quick'
driver.get(url)

In [86]:
# λ§¤μ¥ μ°ΎκΈ° μ›Ήμ†μ¤μ—μ„ 'μ§€μ—­κ²€μƒ‰' λ§ν¬ κ²€μƒ‰ ν›„ λ§ν¬ ν΄λ¦­
## F12 κ°λ°μλ„κµ¬λ΅ HTML νƒκ·Έ μ •λ³΄ ν™•μΈ
## header.loca_search > h3 > a μ— μ§€μ—­ κ²€μƒ‰ λ§ν¬ μ΅΄μ¬
link_path = 'header.loca_search > h3 > a'
driver.find_element(By.CSS_SELECTOR, link_path).click() #find_elementsλ” μ—¬λ¬κ° μ°Ύλ”κ±°

In [87]:
# μ§€μ—­κ²€μƒ‰μ—μ„ μ„μΈ λ§ν¬ ν΄λ¦­ 
# ul.sido_arae_box > li:nth-child(1) > a
link_path = 'ul.sido_arae_box > li:nth-child(1) > a'
driver.find_element(By.CSS_SELECTOR, link_path).click()

In [88]:
# μ„μΈμ—μ„ μ „μ²΄ λ§ν¬ ν΄λ¦­ 
# ul.gugun_arae_box > li:nth-child(1) > a
link_path = 'ul.gugun_arae_box > li:nth-child(1) > a'
driver.find_element(By.CSS_SELECTOR, link_path).click()

# λ§¤μ¥ μ „μ²΄ μ΅°νμ‹ μµμ΄ 2-3μ΄ μ •λ„ μ‹κ°„μ΄ κ±Έλ¦¬κΈ°λ•λ¬Έμ— λ”λ μ΄λ¥Ό κ±Έμ–΄μ¤
time.sleep(3.0)

### μ„μΈ μ¤νƒ€λ²…μ¤ λ§¤μ¥ μ •λ³΄ κ°€μ Έμ¤κΈ°

In [74]:
html = driver.page_source

In [75]:
soup = BeautifulSoup(html, 'html.parser')

In [89]:
# μ„μΈ μ „μ²΄ κ²°κ³Όμ—μ„ 
## ul.quickSearchResultBoxSidoGugun > li.quickResultLstCon λ§ κ°€μ Έμ¤λ©΄ λ¨

quickResultLst = soup.select('li.quickResultLstCon')
len(quickResultLst)

637

In [90]:
# κ° κ²°κ³Ό ν™•μΈ
quickResultLst[23] 
# λ¶€μ‚° ν„μ¬ μ„μΉμ—μ„ λ‚μ¨ 23κ°μ κ²°κ³Όκ°€ μ„μΈκ³Ό μ¤‘μ²©λμ–΄ λ‚μ¤λ” ν„μƒμ΄ μμ!!
# μ°λ¦¬ μλ» μ•„λ‹μ–~~

<li class="quickResultLstCon" data-code="3762" data-hlytag="null" data-index="0" data-lat="37.501087" data-long="127.043069" data-name="μ—­μ‚Όμ•„λ λ‚λΉλ”©" data-storecd="1509" style="background:#fff"> <strong data-my_siren_order_store_yn="N" data-name="μ—­μ‚Όμ•„λ λ‚λΉλ”©" data-store="1509" data-yn="N">μ—­μ‚Όμ•„λ λ‚λΉλ”©  </strong> <p class="result_details">μ„μΈνΉλ³„μ‹ κ°•λ‚¨κµ¬ μ–Έμ£Όλ΅ 425 (μ—­μ‚Όλ™)<br/>1522-3232</p> <i class="pin_general">λ¦¬μ €λΈ λ§¤μ¥ 2λ²</i></li>

### pandas λ°μ΄ν„° μ²λ¦¬

In [91]:
#quickResultLst[23].select('strong')[0].text
quickResultLst[23] ## μ™ λ‚λ” 20λ²μ΄ κ°•μ‚¬λ‹μ΄λ‘ λ‘κ°™μ£µ,,?

<li class="quickResultLstCon" data-code="3762" data-hlytag="null" data-index="0" data-lat="37.501087" data-long="127.043069" data-name="μ—­μ‚Όμ•„λ λ‚λΉλ”©" data-storecd="1509" style="background:#fff"> <strong data-my_siren_order_store_yn="N" data-name="μ—­μ‚Όμ•„λ λ‚λΉλ”©" data-store="1509" data-yn="N">μ—­μ‚Όμ•„λ λ‚λΉλ”©  </strong> <p class="result_details">μ„μΈνΉλ³„μ‹ κ°•λ‚¨κµ¬ μ–Έμ£Όλ΅ 425 (μ—­μ‚Όλ™)<br/>1522-3232</p> <i class="pin_general">λ¦¬μ €λΈ λ§¤μ¥ 2λ²</i></li>

In [101]:

# μ„μΈ λ§¤μ¥ λ¦¬μ¤νΈ DF
seoulStores = []

for item in tqdm(quickResultLst):   # μ§„ν–‰λ¥  ν‘μ‹
    storeName = item.select('strong')[0].text.strip() # λ§¤μ¥μ΄λ¦„
    storeLat = item['data-lat'] # λ§¤μ¥μ„μΉ μ„λ„κ°’
    storeLng = item['data-long'] # λ§¤μ¥μ„μΉ κ²½λ„ κ°’
    address = item.select('p.result_details')[0].text.replace('1522-3232','') # λ§¤μ¥ μ£Όμ†
    storeCd = item['data-storecd'] # λ§¤μ¥μ½”λ“(λ²νΈκ°€ μ‘μ„μλ΅ μ¤λλ λ§¤μ¥μ΄λΌκ³  μ μ¶”)
    storeType = item.select('i')[0]['class'][0].split('_')[1]   # λ§¤μ¥μΆ…λ¥(μΌλ°,λ¦¬μ €λΈ,DT,WT)

    seoulStores.append([storeCd, storeName,storeType,address,storeLat,storeLng])
    time.sleep(0.1)

100%|β–β–β–β–β–β–β–β–β–β–| 637/637 [01:04<00:00,  9.83it/s]

In [102]:
# λ¦¬μ¤νΈ ν™•μΈ
len(seoulStores)

637

In [108]:
# pandas DFλ΅ λ³€ν™
df_seoulStore = pd.DataFrame(seoulStores, columns=['λ§¤μ¥μ½”λ“','λ§¤μ¥λ…','λ§¤μ¥μΆ…λ¥','μ£Όμ†','μ„λ„','κ²½λ„'])
df_seoulStore.head(2)

,λ§¤μ¥μ½”λ“,λ§¤μ¥λ…,λ§¤μ¥μΆ…λ¥,μ£Όμ†,μ„λ„,κ²½λ„
0,1190,λ™λ…λ€DT,generalDT,λ¶€μ‚°κ΄‘μ—­μ‹ λ‚¨κµ¬ μ‹ μ„ λ΅ 423 (μ©λ‹Ήλ™),35.12311959047579,129.09901642703608
1,2235,λ¶€μ‚°μ μ—”κ³µμ›,general,λ¶€μ‚°κ΄‘μ—­μ‹ λ‚¨κµ¬ μ μ—”λ΅ 200 (λ€μ—°λ™),35.1299808,129.0980971

In [109]:
df_seoulStore.tail(2)

,λ§¤μ¥μ½”λ“,λ§¤μ¥λ…,λ§¤μ¥μΆ…λ¥,μ£Όμ†,μ„λ„,κ²½λ„
635,2002,μ–‘μ›μ—­,general,μ„μΈνΉλ³„μ‹ μ¤‘λ‘κµ¬ μ–‘μ›μ—­λ΅10κΈΈ 3 (λ§μ°λ™),37.6066536267232,127.106359790053
636,1749,μ¤‘ν™”μ—­,general,μ„μΈνΉλ³„μ‹ μ¤‘λ‘κµ¬ λ΄‰ν™”μ‚°λ΅ 35 1μΈµ,37.60170912407773,127.07841136432036

In [110]:
# λ°μ΄ν„° μ €μ¥
df_seoulStore.to_csv('./data/μ¤νƒ€λ²…μ¤_μ„μΈλ§¤μ¥μ •λ³΄.csv', encoding='utf-8')

#### λ°μ΄ν„° μ „μ²λ¦¬ 
- λ°μ΄ν„°λ΅ ν†µκ³„λ¥Ό λ‚Ό λ• λ¬Έμ κ°€ μ—†λ„λ΅ λ°μ΄ν„°λ¥Ό μ‚¬μ „μ— μ²λ¦¬ ν•΄μ£Όλ” κ²ƒ 
- λ°μ΄ν„° μ „μ²λ¦¬κ°€ λΉ…λ°μ΄ν„° λ¶„μ„ μ „μ²΄ ν”„λ΅μ νΈμ 50%λ¥Ό μ°¨μ§€ν•  μ •λ„λ΅ λΉ„μ¤‘μ΄ λ†’λ‹¤. 
- μ „μ²λ¦¬ μΌ€μ΄μ¤
1. β—λ°μ΄ν„° κ²°μΈ΅μΉ ν™•μΈ 
    - Null, NAN, '', empty λ“± κ°’μ΄ μ—†λ” μ»¬λΌμ„ μ κ±°/μ μ©ν• κ°’μΌλ΅ μΉν™
    - Null, NANμ€ ν†µκ³„ κ³„μ‚°μ‹ κ³„μ‚°λ κ°’λ„ Nullλ΅ λ°”λ€ 
    - μ«μλ΅ λ μ»¬λΌ κ°’μ—λ” κ²°μΈ΅μΉ μ κ±°/λ³€κ²½μ΄ ν•„μπ¨
2. ν•„μ”μ—†λ” μ»¬λΌ/ν–‰ μ κ±°
3. ν•„μ”ν•μ§€λ§ μ—†λ” μ»¬λΌ μ¶”κ°€ 
4. μλ» λ κ°’ λ³€κ²½

In [112]:
# μ „μ²΄ λ°μ΄ν„°μ—μ„ μ£Όμ†μ— λ¶€μ‚°κ΄‘μ—­μ‹κ°€ ν¬ν•¨ μ—¬λ¶€λ¥Ό μ¶λ ¥ν•¨ 
df_seoulStore['μ£Όμ†'].str.contains('λ¶€μ‚°κ΄‘μ—­μ‹')

0       True
1       True
2       True
3       True
4       True
       ...
632    False
633    False
634    False
635    False
636    False
Name: μ£Όμ†, Length: 637, dtype: bool

In [115]:
# λ¶€μ‚°κ΄‘μ—­μ‹κ°€ ν¬ν•¨λ μΈλ±μ¤ μ¶λ ¥ 
del_list = df_seoulStore[df_seoulStore['μ£Όμ†'].str.contains('λ¶€μ‚°κ΄‘μ—­μ‹')].index

In [116]:
# μ„μΈμ΄ μ•„λ‹ μΈλ±μ¤ κ°’μ„ μ‚­μ (drop)
df_seoulStore.drop(del_list)

,λ§¤μ¥μ½”λ“,λ§¤μ¥λ…,λ§¤μ¥μΆ…λ¥,μ£Όμ†,μ„λ„,κ²½λ„
23,1509,μ—­μ‚Όμ•„λ λ‚λΉλ”©,general,μ„μΈνΉλ³„μ‹ κ°•λ‚¨κµ¬ μ–Έμ£Όλ΅ 425 (μ—­μ‚Όλ™),37.501087,127.043069
24,1434,λ…Όν„μ—­μ‚¬κ±°λ¦¬,general,μ„μΈνΉλ³„μ‹ κ°•λ‚¨κµ¬ κ°•λ‚¨λ€λ΅ 538 (λ…Όν„λ™),37.510178,127.022223
25,1595,μ‹ μ‚¬μ—­μ„±μΌλΉλ”©,general,μ„μΈνΉλ³„μ‹ κ°•λ‚¨κµ¬ κ°•λ‚¨λ€λ΅ 584 (λ…Όν„λ™),37.5139309,127.0206057
26,1527,κµ­κΈ°μ›μ‚¬κ±°λ¦¬,general,μ„μΈνΉλ³„μ‹ κ°•λ‚¨κµ¬ ν…ν—¤λ€λ΅ 125 (μ—­μ‚Όλ™),37.499517,127.031495
27,1468,λ€μΉμ¬κ²½λΉλ”©,general,μ„μΈνΉλ³„μ‹ κ°•λ‚¨κµ¬ λ‚¨λ¶€μν™λ΅ 2947 (λ€μΉλ™),37.494668,127.062583
...,...,...,...,...,...,...
632,838,μ‚¬κ°€μ •μ—­,general,μ„μΈνΉλ³„μ‹ μ¤‘λ‘κµ¬ λ©΄λ©λ΅ 310,37.579594,127.087966
633,493,μƒλ΄‰μ—­,general,μ„μΈνΉλ³„μ‹ μ¤‘λ‘κµ¬ λ§μ°λ΅ 307 (μƒλ΄‰λ™),37.59689,127.08647
634,1668,λ¬µλ™,general,"μ„μΈνΉλ³„μ‹ μ¤‘λ‘κµ¬ λ™μΌλ΅ 952 (λ¬µλ™, λ΅ν”„νΈμ› νƒλ¦‰μ…κµ¬μ—­) 1μΈµ",37.615368,127.076633
635,2002,μ–‘μ›μ—­,general,μ„μΈνΉλ³„μ‹ μ¤‘λ‘κµ¬ μ–‘μ›μ—­λ΅10κΈΈ 3 (λ§μ°λ™),37.6066536267232,127.106359790053
636,1749,μ¤‘ν™”μ—­,general,μ„μΈνΉλ³„μ‹ μ¤‘λ‘κµ¬ λ΄‰ν™”μ‚°λ΅ 35 1μΈµ,37.60170912407773,127.07841136432036

- drop λ“± λ‡κ°€μ§€ ν•¨μλ” κ°’μ„ μ μ© ν•λ” κ²ƒμ΄ μ•„λ‹λΌ, μ‹¤ν–‰μ‹ κ°’μ΄ λ°”λ€κ±Έ λ³΄μ—¬μ£Όλ” ν•¨μμ„
- κ°’μ„ μ•„μ λ³€κ²½ν•λ ¤λ©΄,
1. μƒλ΅μ΄ λ³€μλ‚ κ°™μ€ λ³€μμ— λ‹¤μ‹ ν• λ‹Ή ν•κ±°λ‚ 
2. μ†μ„± μ¤‘ inplace = true λ΅ μ„¤μ •

In [117]:
# 1. drop() ν•¨μλ΅ 
df_seoulStore

,λ§¤μ¥μ½”λ“,λ§¤μ¥λ…,λ§¤μ¥μΆ…λ¥,μ£Όμ†,μ„λ„,κ²½λ„
0,1190,λ™λ…λ€DT,generalDT,λ¶€μ‚°κ΄‘μ—­μ‹ λ‚¨κµ¬ μ‹ μ„ λ΅ 423 (μ©λ‹Ήλ™),35.12311959047579,129.09901642703608
1,2235,λ¶€μ‚°μ μ—”κ³µμ›,general,λ¶€μ‚°κ΄‘μ—­μ‹ λ‚¨κµ¬ μ μ—”λ΅ 200 (λ€μ—°λ™),35.1299808,129.0980971
2,683,λ¶€μ‚°λ€μ—°μ—­,general,"λ¶€μ‚°κ΄‘μ—­μ‹ λ‚¨κµ¬ μμλ΅ 240-1, 1μΈµ (λ€μ—°λ™)",35.134998534278104,129.0930603381513
3,1795,λ¶€μ‚°λ€μ—°λ»κ³¨,general,λ¶€μ‚°κ΄‘μ—­μ‹ λ‚¨κµ¬ λ»κ³¨λ΅ 87 (λ€μ—°λ™),35.13609516236527,129.09191736599408
4,248,κ²½μ„±λ€,general,λ¶€μ‚°κ΄‘μ—­μ‹ λ‚¨κµ¬ μμλ΅ 312 (λ€μ—°λ™),35.137345553736964,129.10063775537583
...,...,...,...,...,...,...
632,838,μ‚¬κ°€μ •μ—­,general,μ„μΈνΉλ³„μ‹ μ¤‘λ‘κµ¬ λ©΄λ©λ΅ 310,37.579594,127.087966
633,493,μƒλ΄‰μ—­,general,μ„μΈνΉλ³„μ‹ μ¤‘λ‘κµ¬ λ§μ°λ΅ 307 (μƒλ΄‰λ™),37.59689,127.08647
634,1668,λ¬µλ™,general,"μ„μΈνΉλ³„μ‹ μ¤‘λ‘κµ¬ λ™μΌλ΅ 952 (λ¬µλ™, λ΅ν”„νΈμ› νƒλ¦‰μ…κµ¬μ—­) 1μΈµ",37.615368,127.076633
635,2002,μ–‘μ›μ—­,general,μ„μΈνΉλ³„μ‹ μ¤‘λ‘κµ¬ μ–‘μ›μ—­λ΅10κΈΈ 3 (λ§μ°λ™),37.6066536267232,127.106359790053
636,1749,μ¤‘ν™”μ—­,general,μ„μΈνΉλ³„μ‹ μ¤‘λ‘κµ¬ λ΄‰ν™”μ‚°λ΅ 35 1μΈµ,37.60170912407773,127.07841136432036

In [118]:
# 2. inplace=true  μ‚¬μ©
df_seoulStore.drop(del_list, inplace=True)

In [119]:
df_seoulStore

,λ§¤μ¥μ½”λ“,λ§¤μ¥λ…,λ§¤μ¥μΆ…λ¥,μ£Όμ†,μ„λ„,κ²½λ„
23,1509,μ—­μ‚Όμ•„λ λ‚λΉλ”©,general,μ„μΈνΉλ³„μ‹ κ°•λ‚¨κµ¬ μ–Έμ£Όλ΅ 425 (μ—­μ‚Όλ™),37.501087,127.043069
24,1434,λ…Όν„μ—­μ‚¬κ±°λ¦¬,general,μ„μΈνΉλ³„μ‹ κ°•λ‚¨κµ¬ κ°•λ‚¨λ€λ΅ 538 (λ…Όν„λ™),37.510178,127.022223
25,1595,μ‹ μ‚¬μ—­μ„±μΌλΉλ”©,general,μ„μΈνΉλ³„μ‹ κ°•λ‚¨κµ¬ κ°•λ‚¨λ€λ΅ 584 (λ…Όν„λ™),37.5139309,127.0206057
26,1527,κµ­κΈ°μ›μ‚¬κ±°λ¦¬,general,μ„μΈνΉλ³„μ‹ κ°•λ‚¨κµ¬ ν…ν—¤λ€λ΅ 125 (μ—­μ‚Όλ™),37.499517,127.031495
27,1468,λ€μΉμ¬κ²½λΉλ”©,general,μ„μΈνΉλ³„μ‹ κ°•λ‚¨κµ¬ λ‚¨λ¶€μν™λ΅ 2947 (λ€μΉλ™),37.494668,127.062583
...,...,...,...,...,...,...
632,838,μ‚¬κ°€μ •μ—­,general,μ„μΈνΉλ³„μ‹ μ¤‘λ‘κµ¬ λ©΄λ©λ΅ 310,37.579594,127.087966
633,493,μƒλ΄‰μ—­,general,μ„μΈνΉλ³„μ‹ μ¤‘λ‘κµ¬ λ§μ°λ΅ 307 (μƒλ΄‰λ™),37.59689,127.08647
634,1668,λ¬µλ™,general,"μ„μΈνΉλ³„μ‹ μ¤‘λ‘κµ¬ λ™μΌλ΅ 952 (λ¬µλ™, λ΅ν”„νΈμ› νƒλ¦‰μ…κµ¬μ—­) 1μΈµ",37.615368,127.076633
635,2002,μ–‘μ›μ—­,general,μ„μΈνΉλ³„μ‹ μ¤‘λ‘κµ¬ μ–‘μ›μ—­λ΅10κΈΈ 3 (λ§μ°λ™),37.6066536267232,127.106359790053
636,1749,μ¤‘ν™”μ—­,general,μ„μΈνΉλ³„μ‹ μ¤‘λ‘κµ¬ λ΄‰ν™”μ‚°λ΅ 35 1μΈµ,37.60170912407773,127.07841136432036

In [123]:
# DF μΈλ±μ¤κ°€ 0μ΄ μ•„λ‹ κ°’μ„ μ‹μ‘, μΈλ±μ¤ μ΄κΈ°ν™”
## drop=Ture λ” μΈλ±μ¤ μ‚­μ , inplace = true κ°’ μ‘μ „ μ „μ©(μ»¤λ°‹μ²λΌ)
df_seoulStore.reset_index(inplace=True, drop=True)

In [125]:
# λ‹¨μν μ»¬λΌμ„ μ‚­μ ν•  λ–„ 
## axis=0 ν–‰μ‚­μ  , axis=μ»¬λΌ 
df_seoulStore.drop(['index'], axis=1, inplace=True)

In [126]:
df_seoulStore

,λ§¤μ¥μ½”λ“,λ§¤μ¥λ…,λ§¤μ¥μΆ…λ¥,μ£Όμ†,μ„λ„,κ²½λ„
0,1509,μ—­μ‚Όμ•„λ λ‚λΉλ”©,general,μ„μΈνΉλ³„μ‹ κ°•λ‚¨κµ¬ μ–Έμ£Όλ΅ 425 (μ—­μ‚Όλ™),37.501087,127.043069
1,1434,λ…Όν„μ—­μ‚¬κ±°λ¦¬,general,μ„μΈνΉλ³„μ‹ κ°•λ‚¨κµ¬ κ°•λ‚¨λ€λ΅ 538 (λ…Όν„λ™),37.510178,127.022223
2,1595,μ‹ μ‚¬μ—­μ„±μΌλΉλ”©,general,μ„μΈνΉλ³„μ‹ κ°•λ‚¨κµ¬ κ°•λ‚¨λ€λ΅ 584 (λ…Όν„λ™),37.5139309,127.0206057
3,1527,κµ­κΈ°μ›μ‚¬κ±°λ¦¬,general,μ„μΈνΉλ³„μ‹ κ°•λ‚¨κµ¬ ν…ν—¤λ€λ΅ 125 (μ—­μ‚Όλ™),37.499517,127.031495
4,1468,λ€μΉμ¬κ²½λΉλ”©,general,μ„μΈνΉλ³„μ‹ κ°•λ‚¨κµ¬ λ‚¨λ¶€μν™λ΅ 2947 (λ€μΉλ™),37.494668,127.062583
...,...,...,...,...,...,...
609,838,μ‚¬κ°€μ •μ—­,general,μ„μΈνΉλ³„μ‹ μ¤‘λ‘κµ¬ λ©΄λ©λ΅ 310,37.579594,127.087966
610,493,μƒλ΄‰μ—­,general,μ„μΈνΉλ³„μ‹ μ¤‘λ‘κµ¬ λ§μ°λ΅ 307 (μƒλ΄‰λ™),37.59689,127.08647
611,1668,λ¬µλ™,general,"μ„μΈνΉλ³„μ‹ μ¤‘λ‘κµ¬ λ™μΌλ΅ 952 (λ¬µλ™, λ΅ν”„νΈμ› νƒλ¦‰μ…κµ¬μ—­) 1μΈµ",37.615368,127.076633
612,2002,μ–‘μ›μ—­,general,μ„μΈνΉλ³„μ‹ μ¤‘λ‘κµ¬ μ–‘μ›μ—­λ΅10κΈΈ 3 (λ§μ°λ™),37.6066536267232,127.106359790053
613,1749,μ¤‘ν™”μ—­,general,μ„μΈνΉλ³„μ‹ μ¤‘λ‘κµ¬ λ΄‰ν™”μ‚°λ΅ 35 1μΈµ,37.60170912407773,127.07841136432036

In [127]:
# μ „μ²λ¦¬ μ™„λ£ν• DF μ €μ¥
df_seoulStore.to_csv('./data/μ¤νƒ€λ²…μ¤_μ„μΈλ§¤μ¥μ •λ³΄_μµμΆ….csv', encoding='utf-8')

### μ „κµ­ μ‹κµ°κµ¬ μ„λ„κ²½λ„

In [128]:
#  μ „κµ­ μ‹κµ°κµ¬ μ„κ²½λ„ μ—‘μ…€νμΌ λ΅λ“
df_koreaManicipality = pd.read_excel('./data/μ „κµ­_μ‹κµ°κµ¬_μ„κ²½λ„.xlsx')

In [129]:
df_koreaManicipality.tail()

      docity  do   city   longitude   latitude
290    μ¶©μ²­μ¶©μ£Όμ‹  μ¶©μ²­    μ¶©μ£Όμ‹  127.928144  36.988181
291    μ¶©μ²­νƒμ•κµ°  μ¶©μ²­    νƒμ•κµ°  126.299975  36.742667
292  μ¶©μ²­ν•λ„λ¦¬λ€λ΅  μ¶©μ²­  ν•λ„λ¦¬λ€λ΅  127.289926  36.485450
293    μ¶©μ²­ν™μ„±κµ°  μ¶©μ²­    ν™μ„±κµ°  126.662908  36.598361
294    μ¶©μ²­λ€μ „μ‹  μ¶©μ²­    λ€μ „μ‹  127.384862  36.350630

In [130]:
# μ„μΈκµ¬λ³„ λ°μ΄ν„° ν•„ν„°λ§ 
seoulList = df_koreaManicipality['do'] == 'μ„μΈ'

In [134]:
df_seoulManicipality = df_koreaManicipality[seoulList]

In [135]:
df_koreaManicipality.reset_index(drop=True, inplace=True)

In [133]:
df_koreaManicipality.tail()

   docity  do city   longitude   latitude
20  μ„μΈμ©μ‚°κµ¬  μ„μΈ  μ©μ‚°κµ¬  126.967522  37.536094
21  μ„μΈμ€ν‰κµ¬  μ„μΈ  μ€ν‰κµ¬  126.931242  37.599969
22  μ„μΈμΆ…λ΅κµ¬  μ„μΈ  μΆ…λ΅κµ¬  126.981642  37.570378
23   μ„μΈμ¤‘κµ¬  μ„μΈ   μ¤‘κµ¬  126.999642  37.561003
24  μ„μΈμ¤‘λ‘κµ¬  μ„μΈ  μ¤‘λ‘κµ¬  127.094778  37.603806

In [136]:
# μ„μΈκµ¬λ³„ μ„μΉκ°’ μ €μ¥ 
df_seoulManicipality.to_csv('./data/μ„μΈκµ¬λ³„μ„μΉ.csv', encoding='utf-8')

In [137]:
# DF μ •λ³΄ν™•μΈ / λ°μ΄ν„° κ²°μΈ΅μΉ, νƒ€μ… ν™•μΈ
df_seoulStore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   λ§¤μ¥μ½”λ“    614 non-null    object
 1   λ§¤μ¥λ…     614 non-null    object
 2   λ§¤μ¥μΆ…λ¥    614 non-null    object
 3   μ£Όμ†      614 non-null    object
 4   μ„λ„      614 non-null    object
 5   κ²½λ„      614 non-null    object
dtypes: object(6)
memory usage: 28.9+ KB